# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Build / output folders
dist/
build/

# PM2 dump file
pm2.log

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VSCode
.vscode/
.idea